@import url(https://fonts.google.com/specimen/Barlow);
@import url(https://fonts.google.com/specimen/Barlow);
:root {
  --softred: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphicdesigntextclr: hsl(167, 40%, 24%);
  --photographytext: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);
  --darkblue: hsl(212, 27%, 19%);
  --veryGrayBlue: hsl(213, 9%, 39%);
  --darkGrayBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --fontsize: 18px;
  --fontfamily: 'Barlow', san-serif;
  --fontWeigth: 600;
  --otherFontFamily: 'Fraunces', san-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: var(--fontfamily);
  font-size: var(--fontsize);
}
/* 
====================================
Header and Navbar 
====================================
*/

.header-container {
  height: 1000px;

  background: url('./images/desktop/image-header.jpg') center/cover no-repeat;
  color: var(--white);
  /* margin-left: 5px; */
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  list-style-type: none;
  margin: 0 2rem;
}
.navbar button {
  display: inline-block;
  margin-right: 51px;
  border-radius: 50px;
  padding: 0.25rem;
  border-color: white;
}

.header-title {
  text-align: center;
  margin: 140px auto;
  background-color: red;
  letter-spacing: 0.55rem;
  text-transform: uppercase;
}

/* 
======================================
Cards Container CSS
=====================================
*/
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);

  column-gap: 0;
}

.card {
  height: 800px;
}
.card-one {
  text-align: center;
  padding: 1.75rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* text-align: center;*/
  align-items: center;
  margin-top: 15rem;
}
.card-one h1 {
  font-weight: bolder;
  font-size: 4rem;
  font-family: var(--otherFontFamily);
  margin-bottom: 5rem;
}
.card-one p {
  margin-bottom: 2.5rem;
  color: gray;
  font-size: 35px;
}
.card-one a {
  text-decoration: underline yellow;
  text-transform: uppercase;
  color: black;
  font-style: oblique;
  font-weight: 500;
}
.card-one a :hover {
  text-decoration: underline rgb(255, 102, 0);
  background-color: orange;
}

/* 
===========
card-two
===========
*/
.card-two {
  background: url('./images/desktop/image-transform.jpg') no-repeat center/cover;
}
/** 
===========
card-three
===========
*/
.card-three {
  background: url('./images/desktop/image-stand-out.jpg') no-repeat center/cover;
}

/** 
===========
card-four
===========
*/
.card-four {
  text-align: center;
  padding: 1.75rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* text-align: center;*/
  align-items: left;
  margin-top: 15rem;
}
.card-four h1 {
  font-weight: bolder;
  font-size: 4rem;
  font-family: var(--otherFontFamily);
  margin-bottom: 5rem;
}
.card-four p {
  margin-bottom: 2.5rem;
  color: gray;
  font-size: 35px;
  text-align: center;
}
.card-four a :hover {
  text-decoration: underline rgb(255, 102, 0);
  background-color: orange;
}

/* 
===========
card-five
===========
*/
.card-five {
  background: url('./images/desktop/image-graphic-design.jpg') no-repeat
    center/cover;
}
.card-five h1 {
}

/* 
===========
card-six
===========
*/

.card-six {
  background: url('./images/desktop/image-photography.jpg') no-repeat
    center/cover;
}

.card img {
  width: 100%;
  height: 100%;
}
/** End of card images */
/** 
** Client

*/

.testimonal-container {
}
