@import url(https://fonts.google.com/specimen/Barlow);
@import url(https://fonts.google.com/specimen/Barlow);
:root {
  --softred: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphicdesigntextclr: hsl(167, 40%, 24%);
  --photographytext: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);
  --darkblue: hsl(212, 27%, 19%);
  --veryGrayBlue: hsl(213, 9%, 39%);
  --darkGrayBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --fontsize: 18px;
  --fontfamily: 'Barlow', san-serif;
  --fontWeigth: 600;
  --otherFontFamily: 'Fraunces', san-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: var(--fontfamily);
  font-size: var(--fontsize);
}
/* 
====================================
Header and Navbar 
====================================
*/

.header-container {
  height: 1000px;

  background: url('./images/desktop/image-header.jpg') center/cover no-repeat;
  color: var(--white);
  /* margin-left: 5px; */
}
.sunnyside {
  display: inline-block;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  list-style-type: none;
  margin: 0 4rem;
}

.navbar button {
  display: inline-block;
  margin-right: 51px;
  border-radius: 50px;
  padding: 0.25rem;
  border-color: white;
}

.header-title {
  text-align: center;
  margin: 140px auto;
  background-color: red;
  letter-spacing: 0.55rem;
  text-transform: uppercase;
  font-size: 75px;
  font-family: var(--fontfamily);
}

/* 
======================================
Cards Container CSS
=====================================
*/
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);

  column-gap: 0;
}

.card {
  height: 800px;
}
.card-one {
  text-align: center;
  padding: 1.75rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* text-align: center;*/
  align-items: center;
  margin-top: 15rem;
}
.card-one h1 {
  font-weight: bolder;
  font-size: 4rem;
  font-family: var(--otherFontFamily);
  margin-bottom: 5rem;
}
.card-one p {
  margin-bottom: 2.5rem;
  color: gray;
  font-size: 35px;
}
.card-one a {
  text-decoration: underline yellow;
  text-transform: uppercase;
  color: black;
  font-style: oblique;
  font-weight: 500;
}
.card-one a :hover {
  text-decoration: underline rgb(255, 102, 0);
  background-color: orange;
}

/* 
===========
card-two
===========
*/
.card-two {
  background: url('./images/desktop/image-transform.jpg') no-repeat center/cover;
}
/** 
===========
card-three
===========
*/
.card-three img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** 
===========
card-four
===========
*/
.card-four {
  text-align: center;
  padding: 1.75rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* text-align: center;*/
  align-items: left;
  margin-top: 15rem;
}
.card-four h1 {
  font-weight: bolder;
  font-size: 4rem;
  font-family: var(--otherFontFamily);
  margin-bottom: 5rem;
}
.card-four p {
  margin-bottom: 2.5rem;
  color: gray;
  font-size: 35px;
  text-align: center;
}
.card-four a :hover {
  text-decoration: underline rgb(255, 102, 0);
  background-color: orange;
}

/* 
===========
card-five
===========
*/
.card-five {
  position: relative;
}

.card-five img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-five-content {
  position: absolute;
  top: 75%;
  left: 15%;
  text-align: center;
}
.card-five-content h1 {
  margin-bottom: 1.2rem;
}
.card-five-content p {
  color: rgb(110, 109, 109);
}
/* 
===========
card-six
===========
*/

.card-six {
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-six-connents {
  position: absolute;
  top: 75%;
  left: 30%;
  text-align: center;
}
.card-six-connents h1 {
  margin-bottom: 1.2rem;
}
.card-six-connents p {
  color: rgb(110, 109, 109);
}
/** End of card images */
/**
================================ 
** Testimonial 
=================================
*/

.testimonal-container {
  height: 700px;
}

.testimonial-header {
  color: rgb(212, 212, 212);
  display: block;
  text-align: center;
  letter-spacing: 0.55rem;
  text-transform: uppercase;
  margin: 9rem auto 3rem;
}
.testimonial-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/**  
==============================
  Testimonail One 
===============================
*/
.testimonial-one img {
  border-radius: 100rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  object-fit: cover;
}
.testimonial-one {
  width: 30rem;
  height: 30rem;
  background-color: red;
  text-align: center;
}
.testimonial-one p {
  clear: both;
}
/**  
==============================
  Testimonail two
===============================
*/
.testimonial-two img {
  border-radius: 100rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  object-fit: cover;
}
.testimonial-two {
  width: 30rem;
  height: 30rem;
  text-align: center;
}
.testimonial-two p {
  clear: both;
}
/**  
==============================
  Testimonail three
===============================
*/
.testimonial-three img {
  margin-top: 5rem;
  margin-bottom: 3rem;
  border-radius: 100rem;
  object-fit: cover;
}
.testimonial-three {
  width: 30rem;
  height: 30rem;
  background-color: blue;
  text-align: center;
}
.testimonial-three p {
  clear: both;
}

/** 
============================
**END OF CLIENT TESTIMONIALS
============================
**/
